html, body {
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #22252A;
}
#sprites {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-top: -240px;
  margin-left: -160px;
  width: 320px;
  height: 480px;
  background:  url(logo.svg) center no-repeat;
  background-size: contain;
}
#sprites div {
  position: absolute;
  background: url(sprites.svg);
  border-radius: 24px;
  width: 74px;
  height: 64px;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: linear;
}
#sprites .highlight { background-position: 0px 0px; }
#sprites .space { background-position: 0px 512px; }
#sprites .red { background-position: 0px 448px; }
#sprites .brown { background-position: 0px 384px; }
#sprites .purple { background-position: 0px 320px; }
#sprites .blue { background-position: 0px 256px; }
#sprites .orange { background-position: 0px 192px; }
#sprites .green { background-position: 0px 128px; }
#sprites .yellow { background-position: 0px 64px; }
#offline {
  background-color: #22252A;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  padding: 30px;
  color: #08f;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}
